 /*Style the header */
 #logo {
    height: 90px;
    width: 450px;
}

header{
    background-color: #13306a;
    display: block;
    box-sizing: border-box;
    margin-bottom: 3px;

}

.logo-container {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
}

 /* Style the navbar */

 #navigation-container {
  background: #7387ad;
  font-size: 18px;
  text-transform: uppercase;
  overflow: hidden;
  background-color: #7387ad;
  text-transform: uppercase;
 }

#navigation-container ol li {
  margin-right: 12px;
}

#navigation-container ol {
  margin: auto;
  padding: 0;
}

#navigation-container a {
  padding: 8px;
  display: block;
}

a:focus, a:hover {
    color: #fff;
    text-decoration: underline;
}

a {
  color: #fff;
  text-decoration: none;
}

a, a:visited, a:hover, a:visited:hover, a:focus, a:active {
  color: #fff;
}

#navbar {
  overflow: hidden;
  background-color: #7387ad;
  font-size:20px;
  text-transform: uppercase;
}



/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

nav li {
  display: inline-block;
  width:initial;
  float:left;
  white-space: nowrap;
}

.logoutbtn {
  float: right;
  color: white;
} 

/*Style body */
.container-fluid {
    max-width: 1200px;
}

body {
  font-size: 16px;
  font-family: "Calibri", "Open Sans", sans-serif;
  color: #fff;
  background: #6f6f6e;
  line-height:1.25;
}

/* main */
.main {
  margin-top: 20px;
  margin-left: 10px;
}

.panel-heading {
  color: #7387ad;
}

.panel-title{
  color: white !important;
}


