table {
	display: table;
	border-collapse: collapse;
	border-spacing: 2px;
	border-color: black;
	border-style: hidden;
}

th {
	text-align: center;
}

td {
	width: 85px;
}
table, th, td {
	padding: 15px;
}

table td, table th {
	border: 2px solid black;
}

td.noBorder, th.noBorder, tr.noBorder td {
	border-right-style: hidden;
	border: 0;
}

tr.trgrey, td.tdgrey {
	background-color: #8e8e8e;
}
tr.trgrey {
	line-height: 10px;
}
