/****** Prüfungsraum Design ******/
@media all{
    table {
	height: 50%;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
        border: hidden;
    }
    
    td {
	height: 45px;
	font-size: 10px;
        border: 1.5px solid black;
    }
    
    td.noBorder, th.noBorder, tr.noBorder td {
	border-right-style: hidden;
	border: 0;
	width: 80px;
    }

    tr { width: 200%; }
    
    tr.trgrey, td.tdgrey { background-color: #8e8e8e; /*middle-grey*/ }
    
    tr.trgrey { line-height: 10px; }
}

@media print{
   #drucken { display:none; }
}
