td.noBorder, th.noBorder, tr.noBorder td {
	border-right-style: hidden;
	border: 0;
	width: 80px;
}

tr.trgrey, td.tdgrey {
	background-color: #8e8e8e; /*heavy-grey: #424242;*/
}
tr.trgrey {
	line-height: 10px;
}

body {
	margin: 0;
}

table {
	height: 50%;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;

}

tr {
	width: 200%;
}

td {
	height: 45px;
}

table, td {
	border: 2px solid black;
}

.hoersaal {
	overflow: auto;
	height: 100%;
}

#logo {
    height: 50px;
}

header{
    background-color: #13306a;
    display: block;
    box-sizing: border-box;

}

.container-fluid {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

* {
    box-sizing: border box;
    -moz-box-sizing: border-box;
}

.container {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
	margin-right: 175px;
    margin-left: 175px;
    display: block;
    height: 600px;
}