@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
}

#logo {
	height: 50px;
}

header {
    background-color: #13306a;
    display: block;
    box-sizing: border-box;

}

body {
    font-family: "Helvetica Neue",Helvetica,ARial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
}

html {
    font-size: 0.9vw;
    font-family: sans-serif;
}

* {
    box-sizing: border box;
    -moz-box-sizing: border-box;
}

table {
    font-size: 0.9vw;
	display: table;
	border-collapse: collapse;
	border-style: hidden;
}

th {
	text-align: center;
}

td {
	width: 100px;
}
table, th, td {
	padding: 15px;
}

table td, table th {
	border: 2px solid black;
}

th, td {
    width: 200%;
}

td.noBorder, th.noBorder, tr.noBorder td {
	border-right-style: hidden;
	border: 0;
}

tr.trgrey, td.tdgrey {
	background-color: #8e8e8e; /*heavy-grey: #424242;*/
}
tr.trgrey {
	line-height: 10px;
}

.container-fluid {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;

}

.container{
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 175px;
    
}

.hoersaal {
    width: 10%;
}